<h1>All Articles </h1>

	<%= render @articles %>

<% if logged_in? %>
<%= link_to "Create a New Article", new_article_path, class: "new_article" %> <br />
<% end %>
<%= link_to "Browse by Tag", tags_path, class: "tags_link" %>


