<% if logged_in? %>

<div id="sidebuttons">
  <button class="button-menu" id="menu-toggle">Toggle Menu</button>
</div>

<header><h1>Create a new article</h1></header>

<%= render partial: 'form' %>

<% end %>