<section id="sidebuttons">
	<button class="button-menu" id="menu-toggle">Toggle Menu</button>
</section>

<header><h1>All Tags</h1></header>

<section class="tagscontainer">
<ul id="tags">
	<% @tags.each do |tag| %>
	<li>
	<%= link_to tag.name, tag_path(tag), class: 'tag_name' %>
	</li>
	<% end %>
</ul>
</section>

<section class="bottombuttons">
<%= link_to "Back to Homepage", articles_path, class: "customlinks" %>
</section>
