// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Variables and mixins

$greybackground: #e6e6e6;
$buttonblue: #0c6bab;
$buttonred: #cc2900;
$artborder: 1.5px solid #cc2900;

@mixin border-radius($radius) {
  	-webkit-border-radius: $radius;
     	moz-border-radius: $radius;
      	-ms-border-radius: $radius;
          	border-radius: $radius;
}

// Miscellaneous

html, body, .wrapper, .page-content-wrapper{
	height: 100%;
}

body {
	background: $greybackground;
}

// Buttons

.button-menu {
  	@include border-radius(30px);
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 16px;
  	background: $buttonred;
  	padding: 10px 20px 10px 20px;
  	border: 0;
  	text-decoration: none;
  	outline: none;
  	display: inline-block;
}

.button-menu:hover {
  	background: #b81212;
  	text-decoration: none;
}

#sidebuttons {
	display: inline-block;
	width: 100%;
}

#sidebuttons a {
	@extend .button-menu;
	background: $buttonblue;
	float: right;
}

.browsebytag {
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

.actions {
	margin-top: 40px;
}

.button-login {
	@extend .button-menu;
	background: $buttonblue;
	font-size: 12px;

}

.bottombuttons {
	text-align: center;
}

// Headers and navbar

header {
	text-align: center;
}

li + hr {
	margin: 10px 20px;
	border-top: 1px solid #999;
}

.login-li {
	color: $buttonred;
}

// Articles container

.artcontainer, .newart { 
	width: 100%;
	max-width: 780px;
}

.artcontainer {
	margin: 70px auto;
	background: #fff;
	border-top: $artborder;
	padding: 30px;
}

.artcontainer {
	p { 
		word-wrap: break-word;
		line-height: 24px; 
	}
	h2 { 
		text-align: center;
		margin-top: 0;
		margin-bottom: 15px; 
	}
	.readmore {
		text-align: center;
		margin: 0 auto;
	}

}

// Tags Container

.tagscontainer {
	@extend .artcontainer;
	max-width: 400px;
	text-align: center;
}

.tagscontainer {
	ul {
	list-style: none;
	-webkit-padding-start: 0;
	}

	li {
		padding: 2.5px;
	}
}

// Forms

.field input, .field textarea {
	@include border-radius(7.5px);
	width: 200px;
	height: 30px;
	margin: 12.5px 0;
	outline: none;
}

.newarticle{
	.field input, .field textarea{
	width: 100%;
	max-width: 650px;
	min-width: 325px;
	margin: 12.5px 0;
	}
	.field textarea{
		height: 350px;
	}
}

.customlinks{
  	font-size: 1.25em;
  }

