// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Variables


html, body, .wrapper, .page-content-wrapper{
	height: 100%;
}

.page-content-wrapper{
	background: #e6e6e6;
}

.artcontainer{
	width: 100%;
	max-width: 780px;
	background: #fff;
	border-top: 1.5px solid #cc2900;
		}

.artcontainer{
	p{
		word-wrap: break-word;
	}
}

