// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Variables

$greybackground: #e6e6e6;
$buttonblue: #0c6bab;
$artborder: 1.5px solid #cc2900;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

html, body, .wrapper, .page-content-wrapper{
	height: 100%;
}

body {
	background: $greybackground;
}

#sidebuttons{
	display: inline-block;
	width: 100%;
}

//Button

.button-menu {
  @include border-radius(30px);
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #cc2900;
  padding: 10px 20px 10px 20px;
  border: 0;
  text-decoration: none;
  outline: none;
  display: inline-block;
}

.button-menu:hover {
  background: #b81212;
  text-decoration: none;
}

.titles {
	text-align: center;
}

li + hr {
	margin: 10px 20px;
	border-top: 1px solid #999;
}

.login-li {
	position: relative;
}

.artcontainer, .newart { 
	width: 100%;
	max-width: 780px;
}

#sidebuttons a{
	@extend .button-menu;
	background: $buttonblue;
	float: right;
}

.bottombuttons{
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

.artcontainer {
	margin: 70px auto;
	background: #fff;
	border-top: $artborder;
	padding: 30px;
}

.artcontainer {
	p { 
		word-wrap: break-word;
		line-height: 24px; 
	}
	h2 { 
		text-align: center;
		margin-top: 0;
		margin-bottom: 15px; 
	}
	.readmore {
		text-align: center;
		margin: 0 auto;
	}

}

.customlinks{
  	font-size: 1.25em;
  }

