//Authors

@import 'articles';

#authors {
	@extend .artcontainer;
	border-top: none;
	width: 780px;
}

#authors {
	thead tr th {
		padding: 10px;
	}
	tbody tr td {
		padding-bottom: 10px;
	}
	th, td {
		text-align: center;
	}

	td > a {
		padding-left: 10px;
		padding-right: 10px;
	}
}